
.normal-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* body {
    width: 1440 px;
} */

.menu-bar {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 166px;
    height: 131px; 
}

.logo {
    font-size: 28px;
    font-weight: 800;
}

.btn-download {
    padding: 17px 24px;
    color: #0D1321;
    background-color: transparent;
    border: 1px solid #0d132160;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.25); 
    font-size: 20px; 
    font-weight: 600;  
    text-decoration: none;
}

.banner-bg {
    display: flex;
    height: 652px;
    justify-content: center;
    background-image: url(images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 998px;
    height: 582px;
    /* justify-content: center; */
    align-items: center;
    padding-top: 26px;
    padding-bottom: 44px;
    justify-content: space-between;
}

/* .banner-image {
    padding-bottom: 32px;
} */

.banner-title {
    font-size: 48px;
    font-weight: bold;
    color:#0D1321;
    text-align: center;
    line-height: 68px;
    /* padding-bottom: 24px; */
}

.banner-paragraph {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
}

.btn-banner {
    padding-bottom: 44px;
    font-size: 20px;
    font-weight: 500;
    padding: 21px 24px;
    color: white;
    background-color: #0D1321;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-development {
    width: 1140px;
    background-color: #FAFAFB;
    margin: 74px 148px 90px;
    
    border-radius: 16px;
}

.web-dev-service {
    padding: 80px 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.why-web-dev {
    display: flex;
    width: 852px;
    padding: 0px 47px 48px 47px;
    flex-direction: column;
    align-items: center;
}

.why-title {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 24px;
    color: #0D1321;
}

.do-coding {
    display: flex;
    gap: 10px;
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    border-radius: 16px;
    padding: 48px;
    margin-bottom: 32px;
  }
  
  .do-text {
    flex: 65%;
    padding: 10px;
  }

  .do-title {
    width: 60%;
    font-size: 24px;
    color: #545863;
    font-weight: bold;
    line-height: 36px;
    padding-bottom: 16px;
  }
  
  .do-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
    padding-bottom: 32px;
  }

  .learn-more {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px;
    color: #545863;
    background-color: transparent;
    border: solid 1px #545863;
    text-decoration: none;

  }

  .service-image {
    flex: 35%;
    height: 240px;
  }

  .help-people {
    display: flex;
    gap: 10px;
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    border-radius: 16px;
    padding: 48px;
    margin-bottom: 32px;
  }

  .help-image {
    flex: 35%;
    height: 240px;
  }


  .help-text {
    flex: 65%;
    padding: 10px;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-group {
    width: 1140px;
}

.inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ins-content {
    display: flex;
    width: 852px;
    padding: 0px 47px 48px 47px;
    flex-direction: column;
    align-items: center;
}

.ins-title {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 24px;
    color: #0D1321;
}

.youtube {
    padding: 32px;
    border: solid 1px #54586360;
    border-radius: 16px;
    margin-bottom: 149px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 111px;
}

.my-target-items {
    display: flex;
    gap: 24px;
    width: 1140px;
}

.my-target-items img {
    width: 56px;
    height: 56px;
}



.html {
    padding: 40px;
    width: 364px;
    height: 299px;
    background-color: #fff6f4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-target {
    font-size: 24px;
    line-height: 36px;
    font-weight: 900;
    padding-top: 24px;
    padding-bottom: 8px;
}

.text-target {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 24px;
}

.button-target {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #0D1321;
    background-color: transparent;
    text-decoration: underline;
    border: none;
}

.css {
    padding: 40px;
    width: 364px;
    height: 299px;
    background-color: #f2f6fe;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.java {
    padding: 40px;
    width: 364px;
    height: 299px;
    background-color: #fffdf2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.need-support {
    width: 1044px;
    height: 186px;
    padding: 64px 48px;
    background-image: url(images/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-color: #0d132163;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.form {
    display: flex;
    gap: 16px;
}

.form-input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color:#0D1321;
    font-size: 15px;
  }

  .form-submit {
    background-color: #ffffff; 
    color: #0D1321; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
  }

.support-title {
    font-size: 32px;
    line-height: 36px;
    color:rgb(228, 228, 228);
}

.support-paragraph {
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    color: white;
    padding-bottom: 24px;
}


footer {
    background-color: #f7f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 1140px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-credit {
    font-size: 20px;
    font-weight: bold;
    color: #0D1321;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 5px;
  }
  
  .social-icons a img {
    width: 36px;
    height: 36px;
  }  
